    h1{
        color:rgb(228, 70, 70);
        font-family:'Trebuchet MS';
        text-align: left;
    
    }
    p{
        color:rgb(4, 4, 36);
        font-family: Cambria;
        text-align: justify;
        font: size 16px;
    }
